@model RegistrationViewModel

@{
    Layout = "_Layout";
}

<div class="test">
    <form action="/User/Registration" method="post">
        <div>
            @Html.TextBoxFor(x => x.Login)
        </div>
        <div>
            @Html.TextBoxFor(x => x.Password, new { type = "password" })
        </div>
        <div>
            @Html.TextBoxFor(x => x.ConfirmedPassword, new { type = "password" })
        </div>
        <div>
            <button type="submit">Зарегистрировать</button>
        </div>
    </form>
</div>