.aptechka-container {
    min-height: 600px;
    /*min-width: 1300px;*/
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.left-block-aptechka {
    /*background-color: green;*/
    height: 100%;
    width: 440px;
    display: flex;
    flex-direction: column;
}

.right-block-aptechka {
    /*background-color: orange;*/
    min-height: 100%;
    width: 855px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 4px solid;
}

.info-about-current-aptechka {
    /*background-color: pink;*/
    /*height: 300px;*/
    width: 100%;
}

.add-new-drug {
    /*background-color: green;*/
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid;
}

.title-for-drugs {
    font-size: 18pt;
    font-style: italic;
    margin: 10px 15px;
    text-align: center;
}

.title-for-add-drug {
    font-size: 16pt;
    font-style: italic;
    margin: 10px 0;
}

.drugs-list {
}

.separate-row-for-drug {
    display: flex;
}

.separate-row-for-add-drug {
    display: flex;
    margin-bottom: 2px;
}

.drug-index-number {
    width: 50px;
    border: 1px solid;
    padding: 3px;
}

.drug-name {
    width: 230px;
    border: 1px solid;
    padding: 3px;
}

.drug-form {
    width: 130px;
    border: 1px solid;
    padding: 3px;
}

.drug-purpose {
    width: 120px;
    border: 1px solid;
    padding: 3px;
}

.drug-expirydate {
    width: 120px;
    border: 1px solid;
    padding: 3px;
}

.drug-residue {
    width: 110px;
    border: 1px solid;
    padding: 3px;
}

.text-field-for-add-drug {
    width: 170px;
}

.input-field-for-add-drug {
}

.inputs-for-add-drug {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-for-add-drug {
    width: 185px;
    margin-top: 10px;
    border-radius: 3px;
    height: 35px;
    background-color: #f7ff79b8;
}

.info-about-current-aptechka .info-aptechka-block {
    padding: 15px;
    border: 2px solid;
    margin: 15px;
    border-radius: 15px;
    background-color: #c9f3bfcc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separated-row-info-aptechka {
    display: flex;
    margin: 3px 0px;
    padding-bottom: 3px;
    border-bottom: 1px solid;
}

.left-column-info-aptechka {
    width: 120px;
    border-right: 1px solid;
    margin-right: 5px;
}

.right-column-info-aptechka {
    width: 250px;
}

.btn-popup-edit-aptechka {
    height: 30px;
    border: 2px solid;
    width: 140px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #6e80ff80;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .btn-popup-edit-aptechka:hover {
        background-color: #7e6eff59;
    }

    .btn-popup-edit-aptechka.delete-pic-apt {
        background-color: #e92f3880;
    }

        .btn-popup-edit-aptechka.delete-pic-apt:hover {
            background-color: #e92f3840;
        }

    .btn-popup-edit-aptechka.delete-apt {
        background-color: #df62f5a3;
    }

        .btn-popup-edit-aptechka.delete-apt:hover {
            background-color: #df62f545;
        }

.block-btn-edit-aptechka {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-popup-edit-aptechka.special-for-popup {
    margin-right: 15px;
}

/*=======================================
POPUP FOR CHANGING INFO ABOUT APTECHKA
=======================================*/
.aptechka-edit-info-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

    .aptechka-edit-info-popup.hide {
        display: none;
    }

.aptechka-edit-info-popup-cover {
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    z-index: 10;
    position: fixed;
}

.edit-aptechka-block {
    height: 610px;
    width: 450px;
    background-color: #cdcdcd;
    z-index: 20;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

/*=======================================
END POPUP
=======================================*/

.separated-row-edit-aptechka {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
    padding: 10px 0;
    align-items: center;
}

.left-column-edit-aptechka {
    flex: 1;
    padding-right: 25px;
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    height: 100%;
    width: 240px;
    font-size: 15pt;
    font-style: italic;
    margin-bottom: 5px;
}

.right-column-edit-aptechka {
    flex: 2;
    display: flex;
    align-items: center;
    font-size: 15pt;
}

.input-edit-aptechka {
    width: 260px;
    background: rgba(20, 20, 20, .2);
    outline: none;
    border: 2px solid;
    height: 53px;
    max-height: 70px;
    max-width: 260px;
    font-size: 12pt;
}

.btn-edit-aptechka {
    text-align: center;
    margin-top: 10px;
    border-top: 2px solid;
    padding-top: 10px;
}

.btn-input-edit-aptechka {
    height: 45px;
    width: 170px;
    border-radius: 3px;
    background: linear-gradient(to top, black, 5%, #2e8f3ab3);
    color: white;
    font-weight: 600;
    font-size: 12pt;
    cursor: pointer;
}

    .btn-input-edit-aptechka:hover {
        background: linear-gradient(to top, black, 5%, #2e8f3a);
    }

.title-edit-aptechka {
    font-size: 20pt;
    margin-bottom: 10px;
}
