.drug-container {
    min-height: 600px;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.left-block-drug {
    display: flex;
    flex: 1;
}

.right-block-drug {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title-about-drug {

}

.info-about-drug {
    font-size: 13pt;
}

.name-property-info-drug {

}

.text-property-info-drug {

}