a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

html {
    width: 100%;
    max-width: 100%;
}

body {
    background-color: blanchedalmond;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*min-height: 100vh;
    width: 100%;
    max-width: 100%;*/
}

.wrapper {
    display: flex;
    min-height: 100%;
    /*overflow: hidden;*/
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    height: 100%;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 920px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: none;
    }
}

.nice-popup.hide {
    display: none;
}

.nice-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popup-cover {
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: absolute;
    z-index: 10;
    position: fixed;
}

.login-block {
    display: flex;
    z-index: 11;
    background: url(/image/common/login_reg.jpg) no-repeat center;
    height: 600px;
    width: 900px;
}

.login-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68%;
}

.loginformstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgb(189, 118, 29);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
}

input[type="text"],
input[type="password"] {
    height: 27px;
    background: rgba(20, 20, 20, .2);
    outline: none;
}

.pglogbut {
    border: 1px solid rgb(189, 118, 29);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
}

.header {
    height: 60px;
    background-color: aquamarine;
}

.header-full {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header-first {
    flex: 6;
}

.menu-header-second {
    height: 100%;
    flex: 2;
    align-items: center;
}

.menu-header-third {
    height: 100%;
    flex: 5;
}

.menu-header-fourth {
    height: 100%;
    flex: 1;
    text-align: end;
}

.log-in {
    height: 100%;
    align-items: center;
}

.header .link {
    display: flex;
    cursor: pointer;
    z-index: 1;
    color: black;
}

.header .link:hover {
    color: red;
}

.menu-list {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    height: 60px;
    background-color: burlywood;
}
