<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApptechkaWeb</title>

    <link rel="stylesheet" href="~/css/reset.css?v=1" />
    <link rel="stylesheet" href="~/css/layout.css?v=2" />

    @RenderSection("Scripts", required: false)
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-full">
                    <nav class="menu-header-first">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Инструкции</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="menu-header-second">MyApptechka</div>
                    <nav class="menu-header-third">
                        <ul class="menu-list">
                            <li><a href="" class="menu-link">О проекте</a></li>
                            <li><a href="" class="menu-link">Инструкции</a></li>
                            <li><a href="" class="menu-link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="menu-header-fourth">
                        <div class="autorization">Войти</div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-full">
                    <div class="menu-footer-left">
                        &copy; 2021 - MyApptechkaWeb
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
