
<div class="aptechka-temp-popup hide">
    <div class="aptechka-temp-popup-cover"></div>
    <div class="add-aptechka-block">
        <div class="title-add-aptechka">Добавление новой аптечки</div>

        <div class="separated-row-add-aptechka">
            <div class="left-column-add-aptechka">Название:</div>
            <div class="right-column-add-aptechka">
                <input />
            </div>
        </div>

        <div class="separated-row-add-aptechka">
            <div class="left-column-add-aptechka">Расположение:</div>
            <div class="right-column-add-aptechka">
                <input />
            </div>
        </div>

        <div class="separated-row-add-aptechka">
            <div class="left-column-add-aptechka">Цвет:</div>
            <div class="right-column-add-aptechka">
                <input />
            </div>
        </div>

        <div class="separated-row-add-aptechka">
            <div class="left-column-add-aptechka">Доп. описание:</div>
            <div class="right-column-add-aptechka">
                <input />
            </div>
        </div>

        <div class="separated-row-add-aptechka">
            <div class="left-column-add-aptechka">Фото аптечки:</div>
            <div class="right-column-add-aptechka">
                <input />
            </div>
        </div>
    </div>
</div>

<div class="test">
    Аптечки
</div>
<div>
    <div class="template-aptechka">
        <div class="symbol-plus">+</div>
        <div class="template-text">Добавить аптечку</div>
    </div>
</div>
